<div class="jumbotron jumbotron-fluid-bleu">
  <div class="container">
    <h4 class="display-4">Viens creer ton gossip </h4>
    <%= link_to 'Nouveau Gossip', new_gossip_path, class: 'btn btn-primary btn-lg' %>
  
  </div>
</div>